@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: "Montserrat" ,"Helvetica Neue", sans-serif;
}

.PageWrap {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}